*.class
*.pyc
*.pyo
.project
.pydevproject
local_settings.py
*.*~
export/export/media/*
export/export/static/*
export/wsgi.py
/bin/
/lib/
/local/
pip-selfcheck.json
README.md
logs
export/export/.settings.py.swp
pyvenv.cfg
export/yarn.lock
export/nutep/static/build/yarn.lock
