{% extends "app/base_site.html" %}

{% block title %}{% endblock title %}

{% block stylesheets %}
  {{ block.super }}  
  <style>
      .v-select .dropdown-toggle {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }      
  </style>

{% endblock stylesheets %}

{% block content %}

<div class="right_col" role="main">

    <div class="row">
                 
        <div class="clearfix"></div>
        
        <div class="x_content">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>{{ service }}</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>                  
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content" id="app-terminal-export" v-cloak>                       
                    <div v-if="loading" class='cssload-jumping'><span></span><span></span><span></span><span></span><span></span></div>
                    <div class="clearfix"></div>                      
                    
                      <div class="clearfix"></div>
                      <!-- -->                      
                      <div class="col-md-4 col-sm-4 col-xs-12">
                      
                        <div v-if="error" class="alert alert-danger">
                          <strong>Ошибка!</strong>
                          <% error %>
                        </div>
                      
                        <div class="panel panel-default">
                        <div class="panel-heading">
                          <i class="fa fa-info"></i>
                          <strong>Контракт</strong>                                                                                    

                          <div class="pull-right">
                              <span title="Отобрано строк">
                                  <label class="label">                                     
                                  </label>
                              </span>                              
                            </div>                            

                        </div>
                        <div class="panel-body">
                    
                          <div class="input-group">
                            <span class="input-group-addon">Контракт</span>
                            <v-select label="name" v-model='contract' :options="contracts"></v-select>
                          </div>                                                
                        </div>
                      </div>


                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <i class="fa fa-search"></i>
                            <strong>Фильтр</strong>                                                                                    

                            <div class="pull-right">
                                <span title="Отобрано строк" v-if="isFiltered">
                                    <label class="label label-warning">
                                        <% stats.total_rows %> из <% stats.total_unfiltered %>
                                      </label>
                                </span>
                                <span title="Всего строк" v-else>
                                    <label class="label label-success">
                                        <% stats.total_rows %>
                                      </label>
                                </span>                                                     
                              </div>                            

                          </div>
                          <div class="panel-body">
                                                                                       

                            <div class="input-group">
                              <span class="input-group-addon">Наименование</span>
                              <input v-model='filter.name' type="search" class="form-control" name="search" autocomplete="off">
                              <span class="input-group-btn">
                                <button class="btn btn-default" v-on:click="clearSearch" type="button">
                                  <i class="glyphicon glyphicon-remove"></i>
                                </button>
                              </span>
                            </div>

                              <div class="input-group">
                                <span class="input-group-addon">Тип документа</span>
                                <v-select v-model='filter.type' multiple :options="filterOptions.types"></v-select>
                              </div>
                        
                              <div class="input-group">
                                <span class="input-group-addon">Расширение</span>
                                <v-select v-model='filter.extension' multiple :options="filterOptions.extensions"></v-select>
                              </div>

                                                     

                            <div class="clearfix"></div>

                            <div v-if="isFiltered">
                              <button class="btn btn-primary" v-on:click="clearFilter" type="button">
                                <i class="glyphicon glyphicon-remove"></i> Очистить фильтр 
                              </button>
                            </div>

                          </div>
                      
                        </div>
                      
                        <div class="clearfix"></div>
                     
                                         
                      </div>
                      <!-- -->

                      <div class="col-md-6 col-sm-6 col-xs-12" v-cloak> 
                       <div v-for="item in items">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                
                              <label class="label label-default"><% stats.total_rows %></label>&nbsp;
                              <strong>Список файлов по контракту 
                                  <% contract.name %>
                              </strong>                                     
                              <div class="pull-right">
                                  <label class="label label-info" title="Дата обновления информации">
                                      <% item.date | moment %>
                                  </label>
                              </div>
                            </div>
                            <div class="panel-body">  
                  

                            <div v-if="true">
                              <table class="table table-hover">
                                <thead>                                                              
                                  <tr>
                                    <th>&nbsp;</th>
                                    <th>#</th>
                                    <th>Наименование</th>
                                    <th>Размер</th>
                                    <th>Тип документа</th>                                    
                                  </tr>                                
                                </thead>
                                <tbody>                                                                             
                                  <tr v-if="row" role="button" class="datarow" v-for="(row, index) in rows(item)" :key="row.id"
                                  v-on:click.prevent="open(row)">                                  
                                    <td></td>
                                    <td><% index + 1 %></td>
                                    <th scope="row"><% row.title %></th>
                                    <td><% row.size | humanFileSize %></td>
                                    <td><% row.doc_type %></td>                                                                    
                                  </tr>                                         
                                </tbody>
                              </table>
                            </div>                       
                        </div>                      
                    </div>
                    </div>
                  </div>

                </div>  

              </div>
            </div>
          </div>
     </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}    
  <script src="/static/vendors/vue/vue.min.js"></script>    
  <script src="/static/vendors/vue-select/dist/vue-select.js"></script>    
  <script src="/static/vendors/vuejs-datepicker/build.min.js"></script>    
  <!-- <script src="/static/build/dist/app/contract.min.js?0.0.1"></script> -->
  <script src="/static/build/js/app/contract.js?0.0.2" type="module"></script>
{% endblock javascripts %}
