{% load thumbnail %}
<div class="col-md-3 col-xs-12 widget widget_tally_box">
	<div class="x_panel fixed_height_390">
		<div class="x_content">
			<h4 style="text-align: center">{{ manager.title }}</h4>
			<div class="flex">
				<ul class="list-inline widget_profile_box">
					<li><a href="skype:{{ manager.skype }}?chat"> <i
							class="fa fa-skype"></i>
					</a></li>
					<li><img src="{% thumbnail manager.image 100x100 crop %}"
						alt="..." class="img-circle profile_img"></li>
					<li><a href="mailto:{{ manager.email }}"> <i
							class="fa fa-envelope"></i>
					</a></li>
				</ul>
			</div>

			<h3 class="name">{{ manager.first_name }}</h3>
			<h5 class="name">{{ manager.last_name }}</h5>

			<div class="flex">
				<ul class="list-inline count2">
					<li style="width: 90%">
						<h5>
							<i class="fa fa-phone"></i> {{ manager.mobile }}
						</h5>
					</li>
				</ul>
			</div>
			<p>
			<p>
				<button disabled="disabled" type="button" class="btn btn-default btn-primary"
					data-toggle="modal" data-target="#modal-{{ template_form.key }}">
					<i class="fa fa-check-circle"></i> Оценить
				</button>
			</p>
			</p>
		</div>
	</div>
</div>